// Border color
$border-color-base : #dcdee2; // outside
$border-color-split : #e8eaec; // inside
$border-width-base : 1px; // width of the border for a component
$border-style-base : solid; // style of a components border

// Background color
$background-color-base : #f7f7f7;